.table-box{
    width: 90%;
    height: 95%;
}

.table-title{
    width: 96%;
    margin-top: 0px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 95%;
}

tr, th, td{
    border: 2px solid var(--darker_green);
}

th, td{
    width: 15%;
}

.course-desc{
    display: block;
    width: 99%;
    height: 97%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    border: none;
    font-size: 1.2vw;
}

.course-select-button{
    border-radius: 10px;
    border-color: var(--light_blue);
}
.course-select-button:hover{
    background-color: var(--blue);
}

.d-class-button{
    background-color: #FB5555;
}
.enroll-class-button{
    background-color: var(--light_green);
}

.results-amount{
    font-size: .8vw;
}

.course-descriptors {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 12px;
}
.filler {
    width: 24%;
}

.enrollment-stats {
    width: 25%;
    font-weight: normal;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.enrollment-stats span {
    color: darkpurple;
}