.table-box{
    width: 48%;
    height: 95%;
}

.table-title{
    width: 96%;
    margin-top: 0px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 80%;
}

tr, th, td{
    border: 2px solid var(--darker_green);
    width: 40%;
}

.course-desc{
    display: block;
    width: 99%;
    height: 97%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    border: none;
}