.progress-loadingbar{
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 5;
    width: 98%;
    border: 1px solid red;
    height: 98%;
}

.loadingbar{
    width: 10%;
    height: 100%;
    background-color: var(--yellow);
    text-align: end;
    line-height: 900%;
    color: black;
    position: absolute;
    top: 0;
    font-size: 5vw;
}

.hide-load-bar{
    width: 100%;
    height: 100%;
    background-color: var(--dark_blue);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10vw;
    line-height: 300%;
    color: var(--light_green)
}