#account-manager-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 20%;
    height: 60%;
    background-color: var(--lighter_blue);
}

#account-info-label{
    font-size: 1.1vw;
}

.account-info-input{
    width: 40%;
}