:root{
    --darker_green: #256117;
    --green: #0c7c59;
    --dark_green: #0A6347;
    --blue: #2678C9;
    --light_blue: #6FAD89;
    --lighter_blue: #A5ffd6;
}

.page-box{
    position: fixed;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 90%;
    background-color: tan;
    display: flex;
    justify-content: space-around;
    align-items: center;
}