body{
    margin: 0px;
    /* For the browsers that don't support gradients. */
    background-color: var(--darker_green); 
    /* Not working on the login page. It works on the other pages for some reason, but it's not needed anywhere else. */
    /* background-image: radial-gradient(ellipse at top left, #1C9900 0%,  #256117 45%);  */
    background-image: linear-gradient(to left, var(--darker_green), var(--green), var(--dark_green));
    font-size: 1.4vw;
}

#crecent-box{
    background-color: var(--light_blue);
    width: 70%;
    height: 50%;
    border: 3px solid var(--light_blue);
    border-radius: 80px;
    position: fixed;
    top: 10%;
    left: 20%;
}

#image-helper{
    display: flex;
    background-color: #7FC79D;
    padding-left: 2%;
    border-radius: 80px 200px 200px 80px;
    width: 92%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#react-logo{
    position: absolute;
    left: 2%;
    top: 4%;
    width: 30%;
    filter: brightness(20) saturate(80%) invert(82%) sepia(10%) hue-rotate(190deg) contrast(20%);
    animation-name: flip;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flip {
    0% {transform: rotate(0deg), filter(none);}
    100% {transform: rotate(180deg) scaleX(-1.2);}
}

#loginContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#login-form{
    padding-left: 6%;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-section{
    width:30%;
    display: flex;
    justify-content: space-around;
}

#sign-up-button{
    color: black;
    background-color: aliceblue;
    border: .5px solid black;
    border-radius: 5px;
    width: 12%;
}