#add-course-container{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: var(--darker_green);
    border: 3px solid var(--green)
}

.add-course-section{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    width: 12%;
}
#course-description-input{
    height: 30%;
}

#add-course-button{
    background-color: var(--light_green);
    border-radius: 40px;
}
#add-course-button:hover{
    background-color: var(--light_blue);
}